.adjustPage{
    min-height: 88vh;
    padding: 0px 20px;
}

.parragraphs{
    text-align: left;
    font-weight: 500;
    margin-top: 20px;
}

.subtitlesPost{
    text-align: center;
    margin-bottom: 15px;
}





