.adjustPage{
    min-height: 88vh;
    padding: 0px 20px;
}

.parragraphs{

    text-align: left;
    font-weight: 500;
    margin-top: 20px;
}

.subtitlesPost{
    text-align: center;
    margin-bottom: 15px;
}

.imgBlog{
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #F25F29;
}

.listasBlog{
    margin-left:55px;
    list-style-type: none;
    margin:20px;
}

a:link {
    text-decoration: inherit;
    color: #F25F29;
    cursor: pointer;
}

a:visited {
    text-decoration: inherit;
    color: #F25F29;
    cursor: pointer;
}

a{
    color: #F25F29;
    font-size: 1.3rem;
}

