#header {
    height: 150vh;
    width: 100%;
    background: url("/images/pxfuel.com (3).jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    scroll-behavior: smooth;
}

